:root {
    --background-color: #f0f0f0;
    --text-color: black;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark-mode {
    --background-color: #303841;
    --text-color: white;
}
